.minitop-bar {	height: 25px; width: 100%; background-color: #004D61;}
.headerNavigation {height: 75px; width: 100%; background-color: #348498;}
.languageController {float: left;}
.mainHeaderHolder .minitop-bar {padding: 3px 30px;}
.mainHeaderHolder .minitop-bar a{color:white;}
.mainHeaderHolder .minitop-bar a:hover{text-decoration: none}
.mainHeaderHolder .headerNavigation {padding: 10px 30px ;}
.languageController img {margin: 0 5px;}
.headerDate{color: #FFFFFF;	font-size: 13px;line-height: 20px;margin-bottom: 0}
.logoTitle h3 {
    color: #FFFFFF;
    font-size: 23px;
    font-weight: bold;
    margin-top: 0px;
    margin: 0 12px;
}
 .logoTitle p {
 	color: #FFFFFF;
 	font-size: 15px;
 	font-weight: bold;
 	margin: 6px 12px 0;
}

.logoTitle img {
    position: absolute;
    right: 0;
}
 
.logoTitle {
    max-width: 280px;
    float: right;
    padding-right: 52px;
    position: relative;
    z-index: 10;
}

.navbar-default {
    background-color: #348498;
    border-color: #348498;
}


@media screen and (min-width: 767px){
.navbar-nav > li {
    float: right;
}
nav.navbar.navbar-default {
    display: inline-block;
    direction: rtl;
    margin-bottom: 0;
    margin-top: 4px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #348498;
    color: white;
    padding-bottom: 24px;
}
.navbar-default .navbar-nav > .active > a:after {
    width: 100%;
    background: white;
    content: "";
    height: 5px;
    position: absolute;
    bottom: -1px;
    right: 0;
}
.navbar-default .navbar-nav > li > a:hover:after {    width: 100%;
    background: white;
    content: "";
    height: 5px;
    position: absolute;
    bottom: -10px;
    right: 0;}
    nav.navbar.navbar-default li.dropdown:hover > .dropdown-menu {
    display: block;
}
}



.navbar-default .navbar-nav  li  a {font-size: 20px;color: white;}



.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;
}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: #348498;
    color: white;
}

.navbar-default .navbar-nav ul.dropdown-menu li a {
    color: #348498;
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
}

ul.dropdown-menu {
    text-align: right;
    min-width: 140px;
    float: right !important;
    right: 0;
    left: auto;
    padding-top: 0;
    padding-bottom: 0;
}

a.dropdown-toggle:hover:after {
    display: none;
}

.navbar-default .navbar-nav > .dropdown > a {
    padding-bottom: 24px;
}

.navbar-default .navbar-nav ul.dropdown-menu li a:hover {
    background: #348498;
    color: white;
}

@media screen and (max-width: 767px){
ul.nav.navbar-nav {
    padding-inline-start: 0;
}

button.navbar-toggle {
    position: absolute;
    right: 0;
}

.navbar-header {
    background: transparent;
    z-index: 1;
}

.logoTitle {float: left;}
}

.headerLeftComp {
    float: left;
    display: inline-block;
    padding-top: 4px;
}

.headerLeftComp img {
    margin-left: 16px;
    cursor: pointer;
}

.mainHeaderHolder {
    position: relative;
    z-index: 9999;
}
.headerProfileLink {display: inline-block;margin-right: 45px;cursor: pointer;}

.headerProfileLink h3 {
    display: inline;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 38px;
    margin-left: 8px;
}

.headerProfileLink img {
    background: #d8d8d8;
    border-radius: 100%;
    width: 55px;
}
li.showOnlyForMobile {
    display: none;
}
.searchHeader{margin-left:24x}

::ng-deep .ui-dialog-content.ui-widget-content input.mat-input-element {width: 100%;text-align: right;direction: rtl;}

::ng-deep .ui-dialog-content.ui-widget-content  .mat-form-field {
    width: 100%;
    text-align: right;
}
